:root{
    --blanco: #ffffff;
    --oscuro: #a79797;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #dfe9f3;
}

/*Hack para convertir: 1rem = 10px*/
html{
    font-size: 62.5%;
    background: var(--gris);
}
body{
    font-size: 16px;
    font-family: 'Krub' sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--grisclaro) 100%);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

.navegacion-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--oscuro);
}
.servicio p{
    line-height: 2;
    text-align: center;
}

